.userFlex {
  border-top: 1px solid var(--color-grey3);
  border-bottom: 1px solid var(--color-grey3);
  & > div {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0.625rem;
    padding: 2.75rem 1rem;
  }
}
.contentFlex {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 37px 0;
  gap: 23px;
}
.plus {
  :hover {
    transition: 0.4s;
    fill: var(--color-grey1);
  }
}
