.rotateScaleUp {
  animation: rotate-scale-up 1s ease-in;
}
.slideLeft {
  animation: slide-in-left 1s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.65s both;
}
.slideRight {
  animation: slide-in-rigth 1s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.65s both;
}

.slideInTop {
  animation: slide-in-top 0.5s ease-in both;
}

.slideInBotton {
  animation: slide-in-botton 0.5s ease-in both;
}

.slideInLeft {
  animation: slide-in-left 0.5s ease-in both;
}

.slideInRight {
  animation: slide-in-rigth 0.5s ease-in both;
}

.spinner {
  animation: rotate 1s linear infinite;
}

.blink {
  animation: blink 0.9s infinite both;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate-scale-up {
  0% {
    opacity: 0;
    transform: rotate(-540deg) scale(0);
  }
  100% {
    opacity: 1;
    transform: rotate(0) scale(1);
  }
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-rigth {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-botton {
  0% {
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
