:root {
  --font: "Inter", sans-serif;
  --color-primary: #ff577f;
  --color-primary-focus: #ff427f;
  --color-primary-negative: #59323f;

  --color-grey0: #f8f9fa;
  --color-grey1: #868e96;
  --color-grey2: #343b41;
  --color-grey3: #212529;
  --color-grey4: #121214;

  --color-grey50: #868e9650;

  --color-sucess: #3fe864;
  --color-negative: #e83f5b;
}

body {
  background: var(--color-grey4);
}
