* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}

button {
  cursor: pointer;
  background: transparent;
  border: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

input,
select {
  &::-ms-reveal,
  &::-ms-clear {
    display: none;
  }
}

input:autofill,
input:autofill:hover,
input:autofill:focus,
textarea:autofill,
textarea:autofill:hover,
textarea:autofill:focus,
select:autofill,
select:autofill:hover,
select:autofill:focus {
  background: transparent;
  border: none;
  -webkit-text-fill-color: var(--color-grey0);
  box-shadow: 0 0 0px 1000px va(--color-grey2) inset;
  transition: background-color 5000s ease-in-out 0s;
}
