.optionDedault {
  color: var(--color-grey0);
  height: 48px;
}
.slideName {
  animation: slide-in-left 0.5s ease-in 0.4s both;
}
.slideEmail {
  animation: slide-in-rigth 0.5s ease-in 0.5s both;
}
.slidePassword {
  animation: slide-in-left 0.5s ease-in 0.6s both;
}
.slideConfirmPassword {
  animation: slide-in-rigth 0.5s ease-in 0.7s both;
}
.slideBio {
  animation: slide-in-left 0.5s ease-in 0.8s both;
}
.slideContact {
  animation: slide-in-rigth 0.5s ease-in 0.9s both;
}
.slideModule {
  animation: slide-in-left 0.5s ease-in 1s both;
}
.slideButton {
  animation: slide-in-top 0.5s ease-in 1.1s both;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-500px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-rigth {
  0% {
    transform: translateX(500px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
